[Unit]
Description=CloudStack guest password management
After=network-online.target cloud-config.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/cloudstack-set-guest-password

[Install]
WantedBy=multi-user.target
